@page "/"

<PageTitle>Home</PageTitle>

<h1>Необходимо авторизоваться</h1>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            Вы успешно авторизовались! Для дальнейшей работы перейдите на необходимую страницу.
        </Authorized>

        <NotAuthorized>
            Необходимо авторизоваться.
        </NotAuthorized>

    </AuthorizeView>
</CascadingAuthenticationState>
