@page "/"

<PageTitle>Home</PageTitle>

<h1>Необходимо авторизоваться</h1>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            Красава, наш пацан, аварец
        </Authorized>

        <NotAuthorized>
            Надо бы авторизоваться.
        </NotAuthorized>

    </AuthorizeView>
</CascadingAuthenticationState>
