@page "/"

<PageTitle>Главная</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            Красава, наш пацан, аварец
        </Authorized>

        <NotAuthorized>
            
            <h1>
                Добро пожаловать в систему загрузки списков неприкреплённого населения на диспансеризацию.  
            </h1>

            <h3>
                Для продолжения работы, пожалуйста, войдите под своей учётной записью или заведите новую
            </h3>

            <div>
                <img src="img.jpg" width="400" height="400"/>
            </div>
            
        </NotAuthorized>

    </AuthorizeView>
</CascadingAuthenticationState>
