@page "/"

<PageTitle>Home</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h2>Вы успешно авторизовались!</h2>
            <h2>Для дальнейшей работы перейдите на необходимую страницу.</h2>
        </Authorized>

        <NotAuthorized>
            <h1>Необходимо авторизоваться</h1>
        </NotAuthorized>

    </AuthorizeView>
</CascadingAuthenticationState>
