@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Здравствуйте, @context.User.Identity.Name!</span>
                    <a href="Identity/Account/Logout">Выйти</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Войти</a>
                    <a href="register">Регистрация</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        Произошла ошибка. Приложение может больше не отвечать до перезагрузки.
    </environment>
    <environment include="Development">
        Произошло необработанное исключение. См. инструменты разработчика для деталей.
    </environment>
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>
